= form_for([@checklist, @checklist_item]) do |f|
  - if @checklist_item.errors.any?
    #error_explanation
      %h2
        = pluralize(@checklist_item.errors.count, "error")
        prohibited this checklist_item from being saved:

      %ul
      - @checklist_item.errors.full_messages.each do |message|
        %li
          = message

  .attributes
    = f.hidden_field :checklist_id
    %p
      = f.label :description
      = f.text_field :description
    %p
      = f.label :priority
      = f.number_field :priority

    %p
      = f.label :completed?
      = f.check_box :completed?
  .actions
    = f.submit
