!!!
%html
  %head
    %title
      Slog
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'backbone_app'
  = csrf_meta_tags
  %body
    %header
      = render 'shared/header.html.haml'
    .container
      = render partial: "shared/flash_messages", flash: flash
      #content
        = yield
